<div class="row align-items-center g-4 py-5">
  <div class="col-12 col-lg-6">
    <img 
      src="https://cdn.usegalileo.ai/sdxl10/a1dcea89-4e42-4396-b19c-9287548a1c63.png" 
      alt="FAQs Image" 
      class="img-fluid rounded w-100">
  </div>
  <div class="col-12 col-lg-6">
    <div class="text-center text-lg-start">
      <h1 class="text-dark fw-bold fs-3 fs-lg-2 mb-4">
        Frequently asked questions
      </h1>
      <div class="d-flex flex-wrap gap-3 justify-content-center justify-content-lg-start">
        <button class="btn btn-primary px-4 py-2">
          Read FAQs
        </button>
        <button class="btn btn-light px-4 py-2">
          Contact support
        </button>
      </div>
    </div>
  </div>
</div>